.page {
      white-space: nowrap;
      font-size: 30px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 150px;
      padding-top: 50px;
      min-height: 763px;
      width: 661px;
      background-color: #C4C4C4;

}


.inputText {
      padding-left: 13px;
      font-size: 48px;
      width: 500px;
      height: 61px;
}

.selected-repos {
      overflow-y: scroll;
      height: 309px;
}

.selected-repos::-webkit-scrollbar {
      width: 0;
}

.autocomplite__elem {
      margin-block-start: 0;
      margin-block-end: 0;
      padding-left: 13px;
      border: 2px solid black;
      width: 500px;
      height: 44px;
      background: #E3E3E3;
      overflow: hidden;
}

.autocomplite__elem:hover {
      background: #65CDF9;
}
.selected-repos {
      position: absolute;
      top: 400px;
}

.selected-repo {
      position: relative;
      height: auto;
      width: 510px;
      overflow: hidden;
      background: #E27BEB;
      border: 1px solid #000000;
}

.selected-repo  p {
      margin-left: 10px;
      margin-block-start: 5px;
      margin-block-end: 5px;
      width: 400px;
      font-size: 24px;
      overflow: hidden;
}

.button-remove {
      
      position: absolute;
      top: 30px;
      right: 34px;
      height: 40px;
      width: 40px;
      background-color: #E27BEB;
      background-size: 100%;
      background-image: url(img/button-delete.svg);
      border: none; 
      outline: none;


}
